<!DOCTYPE html>
<html lang="en">

    <head>

        <title>Fast Flexible Framework</title>
        <meta name="format-detection" content="telephone=no">
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta charset="utf-8">
        <link rel="icon" href="img/favicon.ico" type="image/x-icon">
        <link rel="stylesheet" href="css/style.css">
        <!--[if lt IE 10]>
            <div style="background: #212121; padding: 10px 0; box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3); clear: both; text-align:center; position: relative; z-index:1;"><a href="https://windows.microsoft.com/en-US/internet-explorer/"><img src="<?php echo WWW_IMAGE_PATH?>ie8-panel/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
            <script src="js5shiv.min.js"></script>
        <![endif]-->
        <style type="text/css">
            .cf-hidden { display: none; } 
            .cf-invisible { visibility: hidden; }
        </style>
    </head>
    <body class="rd-navbar-static-smooth">
        <div class="page">
            <header class="page-head">
                <div class="container-fluid">
                    <nav class="rd-navbar rd-navbar-default rd-navbar-original rd-navbar-static rd-navbar--is-stuck" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-static" data-stick-up-clone="false" data-md-stick-up-offset="10px" data-lg-stick-up-offset="10px" data-lg-stick-up="false">
                        <div class="rd-navbar-inner">
                            <div class="rd-navbar-panel">
                                <button class="rd-navbar-toggle" data-custom-toggle=".rd-navbar-nav-wrap" data-custom-toggle-disable-on-blur="true">
                                    <span></span></button>
                                <a class="rd-navbar-brand brand" href="<?php echo WWW_BASE_PATH;?>">
                                    <img src="<?php echo WWW_IMAGE_PATH;?>logo_1.png" alt="logo" height="37" width="103">
                                </a>
                            </div>
                            <div class="rd-navbar-nav-wrap">
                                <div class="rd-navbar-nav-inner">
                                    <ul class="rd-navbar-nav">
                                        <li class="active"><a href="<?php echo WWW_BASE_PATH;?>">Главная</a>
                                        </li>
                                        <li class="rd-navbar--has-dropdown rd-navbar-submenu"><a href="#">О проекте</a>
                                            <ul class="rd-navbar-dropdown rd-navbar-open-right">
                                                <li><a href="<?php echo WWW_BASE_PATH;?>faq">Вопросы и ответы</a>
                                                </li>
                                                <li><a href="<?php echo WWW_BASE_PATH;?>blog/docs">Документы</a>
                                                </li>
                                           
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </nav>
                </div>
            </header>
            
            <section class="section-transform bg-transform bg-transform-first">
                <div class="bg-transform-inner bg-wasip"></div>
                <div class="shell">
                    <div class="range" style="transform: translateY(-15px);">
                        <div class="cell-sm-6 cell-lg-3 height-fill">
                            <article class="icon-box">
                                <div class="box-top">
                                    <div class="box-icon">
                                        <b class="fa fa-4x fa-clock-o"></b>
                                    </div>
                                    <div class="box-header">
                                        <h5><a href="#">Быстрый старт</a></h5>
                                    </div>
                                </div>
                                <div class="box-body">
                                    <p class="text-gray text-spacing-50">upload file to your site root.</p>
                                </div>
                            </article>
                        </div>
                        <div class="cell-sm-6 cell-lg-3 height-fill offset-top-40 offset-sm-top-0">
                            <article class="icon-box">
                                <div class="box-top">
                                    <div class="box-icon">
                                        <b class="fa fa-4x fa-money "></b>
                                    </div>
                                    <div class="box-header">
                                        <h5><a href="#">Низкий порог вхождения</a></h5>
                                    </div>
                                </div>
                                <div class="box-body">
                                    <p class="text-gray text-spacing-50">.</p>
                                </div>
                            </article>
                        </div>
                        
                    </div>
                </div>

            </section>
            <section class="section-60 section-md-100 section-transform bg-transform context-dark">
                <div class="shell text-md-left">
                    <div class="range">

                    </div>
                </div>
                <div class="bg-transform-inner bg-colin"></div>
            </section>

            <section class="section-210 section-md-210 text-left bg-dark">
                <div class="container">
</div>

                
            </section>
            <footer class="page-foot page-foot-default bg-gray-dark">
                <div class="shell section-top-70 section-bottom-50 text-xs-left">
                    <div class="range">
                        <div class='col-md-2'></div>
                        <div class='col-md-9'><img  class='img-responsive inline' src="<?php echo WWW_IMAGE_PATH?>wallets.png"></div>
                    </div>
                </div>
                <div class="shell">
                    <hr>
                </div>
                <div class="shell section-top-50 section-bottom-30 small text-spacing-50 text-xs-left">
                    <!--p>Ожидаемая прибыль рассчитывается на основе процентных ставок ваших инвестиционных пакетов, по состоянию на 01 число месяца,
                        бонусов от первых двух уровней реферальной программы и процентов прибыли от ваших рефералов нижних уровней.
                        Ваши инвестиции, используются для финансирования основного вида деятельности компании 
                        в соответствии с федеральным законодательством. 
                    </p-->

                </div>
                <div class="shell section-top-15 section-bottom-60">
                    <div class="range text-center">
                        <div class="cell-xs-4 text-xs-right cell-xs-push-1">
                            <ul class="list-inline list-inline-xs">
                                <!--li><a class="icon icon-sm-custom link-tundora-inverse fa-instagram" href="#"></a></li>
                                <li><a class="icon icon-sm-custom link-tundora-inverse fa-facebook" href="#"></a></li>
                                <li><a class="icon icon-sm-custom link-tundora-inverse fa-twitter" href="#"></a></li-->
                            </ul>
                        </div>
                        <div class="cell-xs-8 text-xs-left text-spacing-0">
                            <p class="rights"><span>MerlinSoft Inc&deg;</span><span>&nbsp;©&nbsp;</span><span id="copyright-year">2018</span><span>. </span><br class="veil-sm">

                            </p>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
        <div class="snackbars" id="form-output-global"></div>
        <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="pswp__bg"></div>
            <div class="pswp__scroll-wrap">
                <div class="pswp__container">
                    <div class="pswp__item"></div>
                    <div class="pswp__item"></div>
                    <div class="pswp__item"></div>
                </div>
                <div class="pswp__ui pswp__ui--hidden">
                    <div class="pswp__top-bar">
                        <div class="pswp__counter"></div>
                        <button class="pswp__button pswp__button--close" title="Close"></button>
                        <button class="pswp__button pswp__button--share" title="Share"></button>
                        <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
                        <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
                        <div class="pswp__preloader">
                            <div class="pswp__preloader__icn">
                                <div class="pswp__preloader__cut">
                                    <div class="pswp__preloader__donut"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                        <div class="pswp__share-tooltip"></div>
                    </div>
                    <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button>
                    <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>
                    <div class="pswp__caption">
                        <div class="pswp__caption__cent"></div>
                    </div>
                </div>
            </div>
        </div>
 
    <!-- End SiteHeart code -->
        <a href="#" id="ui-to-top" class="ui-to-top fa fa-angle-up active"></a></body></html>